* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(rgba(46,46,46,1) 0%, rgba(0,0,0,1));
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.currencies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 40px;
    margin-bottom: 25px;
}

.usd-section,
.eur-section,
.gbp-section {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
}

.usd-price,
.eur-price,
.gbp-price {
    padding: 0px 15px;
}

small {
    position: absolute;
    left: 30px;  
    bottom: 0px;
}

.fa-bitcoin {
    width: 100%;
    text-align: center;
    margin-bottom: 35px;;
}

.fa-dollar-sign,
.fa-euro-sign,
.fa-pound-sign {
    padding-right: 10px;
}

.time {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 15px;
}

.update {
    margin: 0px 15px;
}

.credits {
    padding: 15px 0px;
}

.credits p {
    font-size: 13px;
}

.credits a {
    text-decoration: none;
    color: gainsboro;
}


/* Heartbeat animation */

.heartbeat {
    animation: 1s heartBeat;
    animation-iteration-count: 2;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


